In [19]:
import pandas as pd

# 读取Excel文件
excel_file = 'TKP FY2025 Expenses.xlsx'  # 你的Excel文件路径
df = pd.read_excel(excel_file)
df = df.drop([0, 1, 2])
df = df.iloc[:, :17]
df

,Description,Expense Code,Cost Centre,Toyota Store Report page,Department Report Line,2023-01-01 00:00:00,2023-02-01 00:00:00,2023-03-01 00:00:00,2023-04-01 00:00:00,2023-05-01 00:00:00,2023-06-01 00:00:00,2023-07-01 00:00:00,2023-08-01 00:00:00,2023-09-01 00:00:00,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00
3,Commission: Salesperson,7020,110.0,New Vehicle,New VehicleCommission p.u.,25488,19913.13,28850,26400,29136,44700,15700,32633,18272,17600,33139.05,12850
4,Commission: Salesperson,7020,112.0,LEX New Vehicle,LEX New VehicleCommission p.u.,14748.89,7153,43063,41020.2,56964.43,39629.06,42784.68,54466.72,51017.17,21286.46,32824.18,18697.29
5,Commission: Salesperson,7020,120.0,Used Vehicle,Used VehicleCommission per retail,19320,30140,35590,24290,28360,30750,26198,29932,27260,32610,38400,29323
6,Commission: Salesperson,7020,121.0,Used Vehicle,Used VehicleCommission per retail,100,0,0,0,0,0,0,0,0,0,0,0
7,Commission: Salesperson,7020,122.0,LEX Used Vehicle,LEX Used VehicleCommission per retail,-1969.29,0,0,0,0,0,0,0,0,9400,6471.84,10343.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047,Legal Expenses,7905,430.0,Admin & Other,Admin & OtherProfessional Fees as % of Total G...,0,0,0,237.86,93.76,339.55,234.4,298.1,62.1,50.4,24,26.4
1048,Legal Expenses,7905,440.0,Admin & Other,Admin & OtherProfessional Fees as % of Total G...,0,0,0,237.86,93.76,339.55,234.4,298.1,62.1,50.4,24,26.4
1049,Legal Expenses,7905,935.0,LEX Admin & Other,LEX Admin & OtherProfessional Fees as % of Tot...,90.57,0,145.41,237.86,93.76,339.55,234.4,298.1,62.1,50.4,24,26.4
1050,Legal Expenses,7905,936.0,LEX Admin & Other,LEX Admin & OtherProfessional Fees as % of Tot...,90.6,32.21,145.41,237.86,93.76,339.55,234.4,298.1,62.1,50.4,24,26.4
1051,Income Tax Expense,7970,190.0,Admin & Other,Admin & OtherOther Overheads as % of Total Gro...,0,0,356811.63,0,0,0,0,0,0,0,0,0

In [28]:
df = pd.DataFrame(df)

# Grouping by 'Expense Code' and 'Description', and summing the numerical columns
new_df = df.groupby(['Expense Code', 'Description']).sum().drop(columns=['Cost Centre', 'Toyota Store Report page', 'Department Report Line'])

# Specifying the file path for the Excel file
excel_file_path = "FY2025-Expense without Cost Centre.xlsx"

# Writing the DataFrame to an Excel file with date format as "m/dd/yyyy"
new_df.to_excel(excel_file_path)

# Printing confirmation
print("DataFrame has been saved to Excel successfully.")

DataFrame has been saved to Excel successfully.